<div class="likes-comments">
  <button class="btn"><a class="link-btn" href="/users/<%= current_user.id %>/posts/<%= post.id %>/create_comment">Leave a comment</a></button>
  <button class="btn"><a class="link-btn" href="/users/<%= current_user.id %>/posts/<%= post.id %>/like">Like the post</a></button>
</div>
