<%= form_with model: Like.new, url: "/users/#{current_user.id}/posts/#{@post.id}/like" do |form| %>
  <%= form.hidden_field :author_id, value: current_user.id %>
  <%= form.hidden_field :post_id, value: post.id %>

  <div class="button-like">
    <%= form.submit 'Like' %>
  </div>
<% end %>
