<%= form_with model: Like.new, url: "/users/#{current_user}/posts/#{@post.id}/like" do |form| %>
  <%= form.hidden_field :author_id, value: current_user %>
  <%= form.hidden_field :post_id, value: post.id %>

  <div>
    <%= form.submit 'Like' %>
  </div>
<% end %>
